.NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 750px;
    border: 1px solid black;
    background: url("https://lh3.googleusercontent.com/proxy/HN5MAJxoeQ-HxqjWncx2Iy9oluagezJ75FQPYMyUaD1L_OvWuNT93NVsPoXivz2nZ6kuwpvlJfLH8VL_0UfhWoSLTQSs");
}
.Title
{
    margin-bottom: 20px;
}